# Package Files #
*.war

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse settings
.project
.settings/*
.classpath
.settings

# IntelliJ
.idea/
*.iml

# Generated automatically
src/main/resources/version.properties
gwt-unitCache/
target/
war/

# Other
catalina.home_IS_UNDEFINED/
