.tabs li {
	list-style: none;
	display: inline;
}

.tabs a {
	border-top: 1px solid #707090;
	border-left: 1px solid #707090;
	border-right: 1px solid #707090;
	padding: 5px 10px;
	display: inline-block;
	background: #ddd;
	color: #000;
	text-decoration: none;
}

.tabs a.active {
	background: #999;
	color: #000;
}
